<nav class="yellow darken-2" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">
      <img src="../assets/img/logo_main.png" alt="">
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Acesso</a></li>
      <li><a href="#">Sobre o Sistema</a></li>
      <li><a href="#">Ajuda</a></li>    
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Link 2</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h4 class="header center yellow-darken-2-text">Gestão de Checkin Automatizado</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s3">
      &nbsp;
    </div>
    <div class="col s6">
      <fieldset>
        <legend>&nbsp;Login&nbsp;</legend>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Palavra-passe</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <a class="waves-effect waves-light btn yellow darken-2">Login</a>
          </div>
          <div class="input-field col s6 right-align">
            <a class="waves-effect waves-light btn yellow darken-2">Cadastre-se</a>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col s3">
      &nbsp;
    </div>

  </div>
</div>
<!-- Footer -->
<footer class="page-footer grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Sobre a agap2IT</h5>
        <p class="grey-text text-lighten-4">Fundada em Setembro de 2005, a agap2IT é uma organização europeia na área
          dos Sistemas de Informação, Ciência e Tecnologia. Empenhada na inovação, a agap2IT está orientada para a
          criação de um verdadeiro valor para os seus Clientes e Consultores.

          A capacidade de intervir globalmente aliada à elevada experiência e know-how técnico, funcional e de negócio
          da equipa, garantem a excelência da resposta aos mais exigentes e complexos desafios.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Saiba Mais</h5>
        <ul>
          <li><a class="white-text" href="#!">Sobre Nós</a></li>
          <li><a class="white-text" href="#!">Onde Estamos</a></li>
          <li><a class="white-text" href="#!">Carreira</a></li>
          <li><a class="white-text" href="#!">Media Center</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Redes Sociais</h5>
        <ul>
          <li><a class="white-text" href="#!">Facebook</a></li>
          <li><a class="white-text" href="#!">Twitter</a></li>
          <li><a class="white-text" href="#!">LinkedIn</a></li>
          <li><a class="white-text" href="#!">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy;2020 Agap2IT
    </div>
  </div>
</footer>
<router-outlet></router-outlet>